Repository xufangfang-99/react-h5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

perf: 移除 Service Worker 相关代码
  apps/h5-web/index.html
Due: prettier --write, stylelint --fix

perf: 优化首屏加载性能
  apps/h5-web/build/plugins.ts
Due: eslint --fix, prettier --write

perf: 移除预加载关键资源
  apps/h5-web/index.html
Due: prettier --write, stylelint --fix

perf: 性能优化首页，首屏加载
  apps/h5-web/index.html
  apps/h5-web/src/main.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor: 将状态管理从 Zustand 迁移到 Jotai
  apps/h5-web/package.json
  apps/h5-web/src/App.tsx
  apps/h5-web/src/layouts/MainLayout.tsx
  apps/h5-web/src/pages/Home.tsx
  apps/h5-web/src/store/atoms/index.ts
  apps/h5-web/src/store/hooks/index.ts
  apps/h5-web/src/store/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: Jotai通用状态设计
  apps/h5-web/src/App.tsx
  apps/h5-web/src/layouts/MainLayout.tsx
  apps/h5-web/src/pages/Home.tsx
  apps/h5-web/src/store/atoms/app.ts
  apps/h5-web/src/store/atoms/index.ts
  apps/h5-web/src/store/atoms/user.ts
  apps/h5-web/src/store/hooks/index.ts
  apps/h5-web/src/store/index.ts
  apps/h5-web/src/store/utils/index.ts
Due: eslint --fix, prettier --write

refactor: 加入模板切换功能
  apps/h5-web/build/optimize.ts
  apps/h5-web/src/App.tsx
  apps/h5-web/src/pages/Home.tsx
  apps/h5-web/src/pages/home/index.tsx
  apps/h5-web/src/pages/home/templates/common/api/index.ts
  apps/h5-web/src/pages/home/templates/common/hooks/useHomeData.ts
  apps/h5-web/src/pages/home/templates/common/images/banner.jpg
  apps/h5-web/src/pages/home/templates/common/mock/index.ts
  apps/h5-web/src/pages/home/templates/common/store/index.atom.ts
  apps/h5-web/src/pages/home/templates/common/styles/index.module.scss
  apps/h5-web/src/pages/home/templates/t1/index.tsx
  apps/h5-web/src/pages/home/templates/t1/styles/index.module.scss
  apps/h5-web/src/pages/home/templates/t2/api/index.ts
  apps/h5-web/src/pages/home/templates/t2/index.tsx
  apps/h5-web/src/pages/home/templates/t2/styles/index.module.scss
  apps/h5-web/src/pages/home/templates/t3/index.tsx
  apps/h5-web/src/pages/home/templates/t3/store/index.atom.ts
  apps/h5-web/src/pages/home/templates/t3/styles/index.module.scss
  apps/h5-web/src/pages/home/templates/t4/api/index.ts
  apps/h5-web/src/pages/home/templates/t4/images/special-banner.jpg
  apps/h5-web/src/pages/home/templates/t4/index.tsx
  apps/h5-web/src/pages/home/templates/t4/mock/index.ts
  apps/h5-web/src/pages/home/templates/t4/store/index.atom.ts
  apps/h5-web/src/pages/home/templates/t4/styles/index.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: ((any of: *.{js,jsx,ts,tsx}) or (any of: packages/**/*.{js,ts})) or (any of: apps/**/*.{js,jsx,ts,tsx})
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.json)) or (any of: *.md)) or (any of: *.{css,scss,less,html})
  markdownlint --fix: any of: *.md
  stylelint --fix: any of: *.{css,scss,less,html}
