Repository xufangfang-99/react-h5: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.{css,scss,less,html}": ["stylelint --fix", "prettier --write"],
  "package.json": ["prettier --write"]
}

chore: 更新 husky 配置
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.json
  package.json
  src/App.css
  src/index.css
  src/styles/index.css
Due: prettier --write, stylelint --fix

chore: 更新 husky 配置
  . lintstagedrc.json
  .lintstagedrc.json
  package.json
Due: prettier --write

update markdownlint eslink
  COMMIT_CONVENTION.md
  README.md
  package.json
  pnpm-lock.yaml
  scripts/fix-markdown.js
Due: eslint --fix --max-warnings 0, prettier --write

chore: 重新配置 husky hooks
  . lintstagedrc.json
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
Due: prettier --write

docs: 修复README.md代码语言标识
  COMMIT_CONVENTION.md
  README.md
  build/cdn.ts
  build/compress.ts
  build/plugins.ts
  build/utils.ts
  mock/index.ts
  mock/user.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: 重新配置 markdownlint hooks
  .lintstagedrc.json
  .markdownlintrc
  .stylelintignore
  scripts/fix-markdown.js
Due: eslint --fix --max-warnings 0, prettier --write

docs: 更新提交规范文档和 README，添加代码质量说明
  COMMIT_CONVENTION.md
  README.md
Due: prettier --write

docs: 更新提交规范文档
  .eslintignore
  .markdownlintrc
  README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/fix-markdown.js
Due: eslint --fix --max-warnings 0, prettier --write

refactor: 移除 PostCSS 依赖，优化移动端适配方案
  .stylelintrc.json
  README.md
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  src/styles/mobile.css
  src/vite-env.d.ts
  stylelint.config.js
  uno.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

chore: package.json
  package.json
Due: prettier --write

chore: delete antd桌面UI组件库qs库classnames库wiper库china-area-data库react-virtualized库react-window库
  build/cdn.ts
  build/optimize.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings 0, prettier --write

refactor: 删除不需要的依赖库
  README.md
  build/cdn.ts
  build/optimize.ts
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

fix: 添加根目录 typecheck 脚本
  package.json
Due: prettier --write

docs: 更新 README 文档以反映 Monorepo 结构
  README.md
  apps/h5-web/README.md
Due: prettier --write

docs: 更新项目文档和配置
  .stylelintrc.json
  apps/h5-web/index.html
  package.json
  pnpm-lock.yaml
Due: prettier --write, stylelint --fix

feat: 添加 mobile-utils 完整功能演示
  apps/h5-web/build/optimize.ts
  apps/h5-web/build/utils.ts
  apps/h5-web/package.json
  apps/h5-web/src/App.tsx
  apps/h5-web/src/pages/MobileUtilsDemo.tsx
  packages/mobile-utils/package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings 0, prettier --write

fix: 修复 ESLint 和 TypeScript 类型错误
  apps/h5-web/build/optimize.ts
  apps/h5-web/package.json
  apps/h5-web/src/App.tsx
  apps/h5-web/src/main.tsx
  apps/h5-web/src/pages/MobileUtilsDemo.tsx
  pnpm-lock.yaml
Due: eslint --fix --max-warnings 0, prettier --write

feat: 初始化 React H5 Monorepo 项目
  apps/h5-web/build/compress.ts
  apps/h5-web/build/optimize.ts
  apps/h5-web/build/plugins.ts
  apps/h5-web/build/pwa.ts
  apps/h5-web/build/utils.ts
  apps/h5-web/envs/.env
  apps/h5-web/envs/.env.development
  apps/h5-web/envs/.env.production
  apps/h5-web/envs/.env.staging
  apps/h5-web/index.html
  apps/h5-web/package.json
  apps/h5-web/src/App.tsx
  apps/h5-web/src/components/Loading/index.tsx
  apps/h5-web/src/components/OptimizedImage.tsx
  apps/h5-web/src/components/OptimizedImageExample.tsx
  apps/h5-web/src/hooks/useImagePreloader.ts
  apps/h5-web/src/hooks/useRoutePermission.ts
  apps/h5-web/src/layout/index.tsx
  apps/h5-web/src/main.tsx
  apps/h5-web/src/pages/Home/index.tsx
  apps/h5-web/src/pages/ImageGalleryPage.tsx
  apps/h5-web/src/pages/Login/index.tsx
  apps/h5-web/src/pages/NotFound/index.tsx
  apps/h5-web/src/pages/Settings/index.tsx
  apps/h5-web/src/pages/User/index.tsx
  apps/h5-web/src/router/guards.tsx
  apps/h5-web/src/router/index.tsx
  apps/h5-web/src/router/routes.tsx
  apps/h5-web/src/store/auth.ts
  apps/h5-web/src/utils/memoryOptimize.ts
  apps/h5-web/src/utils/performanceMonitor.ts
  apps/h5-web/src/utils/request.ts
  apps/h5-web/tsconfig.app.json
  apps/h5-web/uno.config.ts
  apps/h5-web/vite.config.ts
  packages/mobile-utils/package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

chore: 更新打包优化
  apps/h5-web/package.json
  apps/h5-web/public/manifest.json
  apps/h5-web/public/robots.txt
  apps/h5-web/src/App.tsx
  apps/h5-web/src/styles/a11y.css
  apps/h5-web/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

fix: 修复构建错误和样式警告
  .prettierrc
  .stylelintignore
  .stylelintrc.json
  apps/h5-web/src/components/ThemeProvider/index.tsx
  apps/h5-web/src/main.tsx
  apps/h5-web/src/pages/Settings/index.tsx
  apps/h5-web/src/styles/a11y.css
  apps/h5-web/src/styles/base/reset.scss
  apps/h5-web/src/styles/components/index.scss
  apps/h5-web/src/styles/index.css
  apps/h5-web/src/styles/index.scss
  apps/h5-web/src/styles/mobile.css
  apps/h5-web/src/styles/mobile.scss
  apps/h5-web/src/styles/themes/index.scss
  apps/h5-web/src/styles/tokens/animation.scss
  apps/h5-web/src/styles/tokens/borders.scss
  apps/h5-web/src/styles/tokens/breakpoints.scss
  apps/h5-web/src/styles/tokens/colors.scss
  apps/h5-web/src/styles/tokens/index.scss
  apps/h5-web/src/styles/tokens/shadows.scss
  apps/h5-web/src/styles/tokens/spacing.scss
  apps/h5-web/src/styles/tokens/typography.scss
  apps/h5-web/src/styles/tokens/z-index.scss
  apps/h5-web/src/styles/utilities/index.scss
  apps/h5-web/uno.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

fix: 修复构建错误和样式警告
  apps/h5-web/src/layout/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write

refactor: 移除UI组件依赖并优化性能架构
  apps/h5-web/build/optimize.ts
  apps/h5-web/package.json
  apps/h5-web/src/components/ThemeProvider/index.tsx
  apps/h5-web/src/layout/index.tsx
  apps/h5-web/src/main.tsx
  apps/h5-web/src/utils/performanceMonitor.ts
  apps/h5-web/src/utils/request.ts
  apps/h5-web/vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: 优化去掉ui框架
  apps/h5-web/src/components/Loading/index.tsx
  apps/h5-web/src/pages/Home/index.tsx
  apps/h5-web/src/pages/ImageGalleryPage.tsx
  apps/h5-web/src/pages/Login/index.tsx
  apps/h5-web/src/pages/MobileUtilsDemo.tsx
  apps/h5-web/src/pages/NotFound/index.tsx
  apps/h5-web/src/pages/Settings/index.tsx
  apps/h5-web/src/pages/User/index.tsx
  pnpm-lock.yaml
Due: eslint --fix --max-warnings 0, prettier --write

fix: 修复 TypeScript 配置，采用项目引用架构
  .backup-configs/.commitlintrc.json
  .backup-configs/.markdownlintrc
  .backup-configs/.prettierrc
  .backup-configs/.stylelintrc.json
  .backup-configs/eslint.config.js
  .commitlintrc.js
  .lintstagedrc.json
  .markdownlint.js
  .prettierrc.js
  .stylelintrc.js
  README.md
  apps/h5-web/.eslintrc.js
  apps/h5-web/.prettierrc.js
  apps/h5-web/.stylelintrc.js
  apps/h5-web/README.md
  apps/h5-web/package.json
  apps/h5-web/src/main.tsx
  eslint.config.js
  package.json
  packages/mobile-utils/README.md
  packages/shared-config/commitlint/index.js
  packages/shared-config/eslint/base.js
  packages/shared-config/eslint/index.js
  packages/shared-config/markdownlint/index.js
  packages/shared-config/package.json
  packages/shared-config/prettier/index.js
  packages/shared-config/scripts/fix-markdown.js
  packages/shared-config/stylelint/index.js
  pnpm-lock.yaml
Due: eslint --fix --max-warnings 0, prettier --write

fix: 修复 TypeScript 配置，采用项目引用架构
  .lintstagedrc.json
Due: prettier --write

feat: 添加 Husky 共享配置功能
  apps/h5-web/report.html
  package.json
  packages/shared-config/bin/shared-config.cjs
  packages/shared-config/husky/hooks/commit-msg
  packages/shared-config/husky/hooks/pre-commit
  packages/shared-config/husky/hooks/pre-push
  packages/shared-config/husky/index.cjs
  packages/shared-config/package.json
  packages/shared-config/stylelint/index.js
  pnpm-lock.yaml
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

chore: 优化去掉ui框架
  packages/shared-config/husky/index.cjs
Due: none

chore: 去掉无用，加上配置
  .backup-configs/.commitlintrc.json
  .backup-configs/.markdownlintrc
  .backup-configs/.prettierrc
  .backup-configs/.stylelintrc.json
  .backup-configs/eslint.config.js
  .gitignore
  .vscode/settings.json
Due: eslint --fix --max-warnings 0, prettier --write

chore: 加构建命令
  package.json
Due: prettier --write

refactor: 清理项目框架并优化配置
  README.md
  apps/h5-web/README.md
  apps/h5-web/build/optimize.ts
  apps/h5-web/build/utils.ts
  apps/h5-web/index.html
  apps/h5-web/package.json
  apps/h5-web/public/pwa-192x192.png
  apps/h5-web/public/pwa-512x512.png
  apps/h5-web/public/robots.txt
  apps/h5-web/vite.config.ts
  packages/mobile-utils/README.md
  packages/mobile-utils/package.json
  packages/mobile-utils/src/device.ts
  packages/mobile-utils/src/dom.ts
  packages/mobile-utils/src/format.ts
  packages/mobile-utils/src/gesture.ts
  packages/mobile-utils/src/hooks.ts
  packages/mobile-utils/src/index.ts
  packages/mobile-utils/src/network.ts
  packages/mobile-utils/src/storage.ts
  packages/mobile-utils/tsconfig.json
  packages/shared-config/markdownlint/index.js
  pnpm-lock.yaml
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

refactor: 清理项目框架并优化配置
  apps/h5-web/src/design-tokens/themes/default.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: 清理项目框架并优化配置
  .vscode/settings.json
Due: prettier --write

refactor: 清理项目框架并优化配置
  apps/h5-web/src/design-tokens/themes/dark.ts
  apps/h5-web/src/design-tokens/themes/default.ts
  apps/h5-web/src/design-tokens/themes/index.ts
  apps/h5-web/src/design-tokens/types.ts
  apps/h5-web/src/layouts/BlankLayout.tsx
  apps/h5-web/src/layouts/MainLayout.tsx
  apps/h5-web/src/pages/Home.tsx
  apps/h5-web/src/styles/index.scss
  apps/h5-web/src/styles/utils.scss
  apps/h5-web/src/types/global.d.ts
  apps/h5-web/src/types/index.ts
  apps/h5-web/src/types/theme.ts
  apps/h5-web/src/vite-env.d.ts
  apps/h5-web/tsconfig.app.json
  apps/h5-web/tsconfig.node.json
  apps/h5-web/types/build-env.d.ts
  apps/h5-web/types/global.d.ts
  apps/h5-web/uno.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

refactor: 创建极简骨架，主题版面颜色调整
  apps/h5-web/src/main.tsx
  apps/h5-web/src/pages/Home.tsx
  apps/h5-web/src/styles/components.scss
  apps/h5-web/src/styles/index.scss
  apps/h5-web/uno.config.ts
  packages/shared-config/eslint/base.js
  pnpm-lock.yaml
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

feat: 优化样式系统架构
  apps/h5-web/src/components/Button/Button.module.scss
  apps/h5-web/src/components/Button/index.tsx
  apps/h5-web/src/components/Card/Card.module.scss
  apps/h5-web/src/components/Card/index.tsx
  apps/h5-web/src/design-tokens/index.ts
  apps/h5-web/src/design-tokens/themes/index.ts
  apps/h5-web/src/pages/Home.tsx
  apps/h5-web/uno.config.ts
  apps/h5-web/vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

perf: 优化首屏加载性能
  apps/h5-web/index.html
  apps/h5-web/src/components/LazyLoad/index.tsx
  apps/h5-web/src/pages/Home.tsx
  apps/h5-web/vite.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

perf: 优化首屏加载性能
  apps/h5-web/index.html
  apps/h5-web/src/main.tsx
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --fix

perf: 优化首屏加载性能
  apps/h5-web/index.html
Due: prettier --write, stylelint --fix
